.DS_Store
src/.env
Documents/
MD_Instructions/Agent_Command_Spec.md
MD_Instructions/Integration_Progress.md
napari_app/reports
src/Dev_Instructions/Agent_Command_Spec.md
cheese-app-v3
archive
logs
docs
doc
AGENTS.md
aimino_frontend/aimino_core/aimino_core
aimino_frontend/aimino_core/aimino_core.egg-info
.env
**/__pycache__/
*.egg-info/

# 忽略所有说明文档，但保留 README 文件
*.md
!README.md
!**/README.md
