.DS_Store
~cd "/Users/ytian/Documents/School Courses/Biostatistics_2025Fall/AC 215/Project/Milestone2/AIMinO" && echo "~$*" >> .gitignore
src/.env
Documents/
MD_Instructions/Agent_Command_Spec.md
MD_Instructions/Integration_Progress.md
napari_app/reports
